body {
    background-image: url(../img/pattern.jpg);
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }
.judul-contact {
    text-align: center;
}
.contact-html {
    text-align: left;
text-decoration: none;
}

header {
    display: inline;
    background-color: white;
}
footer {
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
}
header nav ul Li {
    list-style: none ; 
    }

    nav li {
        display: inline;
        list-style-type: none;
        margin-right: 20px;
    }
    nav {
        background-color:white;
        padding: 5px;
        position: sticky;
        text-align: right;
    }
    nav a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: blue;
    }
    nav a:hover {
        font-weight: bold;
    }

    #article-list{
        display: flexbox;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        box-sizing: border-box;
            }
#konten{
    background-color: white;
    margin: 10px;
}
            .judul {
                text-align: center;
                padding: 10px;
            }

            .form-style{
                margin-bottom: 20px;
                display: block;
            }

        .form-style input {
width:  20%;
padding: 5px;
font-size: 14px;
box-sizing: border-box;
margin-top: 5px;
            }